body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10%;
    font-weight: bold;
}

h1 {
    padding-left: 33%;
    padding-right: 33%;
    text-align: center;
    font-size: 60px;
}

.social-media {
    padding-left: 33%;
    padding-right: 33%;
    text-align: center;
}

.social-media a {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 48px;
    color: black
}

a:hover {
    color: red;
}

p {
    text-align: justify;
}

.skills {
    border-radius: 5px;
    max-width: auto;
    overflow: hidden;
    opacity: 1;
}

.skills ul {
    list-style-type: none;
    min-width: 20px;
}

.skills li {
    background-color: rgb(252, 233, 209);
    border-radius: 5px;
    color: green;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 5px 5px 5px;
}

.projects p {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

.projects ul {
    list-style-type: none;
}

.project a {
    text-decoration: none;
}

.project {
    display: inline-block;
    margin: 10px 10px 10px 10px;
}

